{% extends 'base.html' %}

{% block title %}Account Details{% endblock %}

{% block content %}
<h1>Account {{ account.account_number }}</h1>
<p><strong>Person:</strong> {{ account.person.full_name }}</p>
<p><strong>Balance:</strong> {{ account.balance }}</p>
<p><strong>Interest Rate:</strong> {{ account.interest_rate }}%</p>
<p><strong>Created At:</strong> {{ account.created_at }}</p>
<p><strong>Updated At:</strong> {{ account.updated_at }}</p>

<a href="{% url 'account_update' account.id %}" class="btn btn-warning">Edit Account</a>
<a href="{% url 'account_list' %}" class="btn btn-secondary">Back to List</a>
{% endblock
