{% extends 'base.html' %}

{% block title %}Accounts{% endblock %}

{% block content %}
<h1>Accounts</h1>
<a href="{% url 'account_create' %}" class="btn btn-primary mb-3">Add Account</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Account Number</th>
            <th>Person</th>
            <th>Balance</th>
            <th>Interest Rate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.account_number }}</td>
            <td>{{ account.person.full_name }}</td>
            <td>{{ account.balance }}</td>
            <td>{{ account.interest_rate }}%</td>
            <td>
                <a href="{% url 'account_detail' account.id %}" class="btn btn-info btn-sm">View</a>
                <a href="{% url 'account_update' account.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'account_delete' account.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
