/* grid c7 */
.grid-c7-content {
  margin-top: -42px;
  margin-bottom: -128px;
}
.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-bar .percent {
  position: relative;
}
.progress-bar svg {
  position: relative;
  width: 210px;
  height: 210px;
  transform: rotate(-90deg);
}
.progress-bar svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--clr-jet);
  stroke-width: 20;
  stroke-linecap: round;
}
.progress-bar svg circle:last-of-type {
  stroke-dasharray: 625px;
  stroke-dashoffset: calc(625px - (625px * var(--percent)) / 168);
  stroke: var(--clr-pumpkin);
}
.progress-bar .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.progress-bar .number h3 {
  font-weight: 200;
  font-size: 20px;
  font-weight: 500;
}
.progress-bar .number h3 span {
  font-size: 14px;
}

/* grid c7 */
.grid-c7-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.grid-c7-content .progress-bar {
  margin-left: -46px;
}
.grid-c7-content .data-list {
  margin-left: -20px;
}
.grid-c7-content .data-item {
  margin-bottom: 20px;
}
.grid-c7-content .data-item-value {
  margin-top: 8px;
  display: block;
  font-weight: 600;
}


/* Loans.css */
.loan-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure the modal is on top of other content */
}

.modal-content {
  background: var(--clr-primar-light);
  padding: 30px;
  border-radius: 10px;
  width: 340px;
  max-width: 90%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -42px;
  margin-bottom: -128px;
}

.modal-content h3 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
}

.modal-content label {
  display: block;
  margin-bottom: 12px;
  text-align: left;
  width: 100%;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--clr-pumpkin);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.modal-content button:hover {
  background-color: darken(var(--clr-pumpkin), 10%);
}
